/* class container с 80vw шириной и margin 0 auto для всего контента */


*{
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  line-height: 1.2;
}

a{
  text-decoration: none;
  color: #282c34;
}
a:hover{
  color:#61dafb;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header.js */
.header{
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.menu{
  flex-grow:1;
}
.menu ul{
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu ul li{
  display: inline;
  list-style: none;
  font-size: 2vh;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
.menu a{
  cursor: pointer;
}

.menu-block--auth{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 16px;
  justify-content: center;
  content: '';
  flex-grow: 0.1;
}


/* Content.js */
.content-grid{
  padding: 10vh 0;
  display: grid; 
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr; 
    /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 20px 20px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
}

.content-grid img{
  width: 40vh;
}

/* About.js */
.about-container{
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 10vh 0;
}
#square-image{
  object-fit: cover;
  height: 40vw;
  width: 40vw;
}
.about-content{
  display: flex;
  flex-direction: row;
}

.left-block h2{
  text-transform: uppercase;
  font-size: 4vh;
}
.left-block>p{
  font-weight: lighter;
  line-height: 1.5;
  color: #333333;
  margin-right: 5vw;
  font-size: 2vh;
}

/* ProductPage.js */
.product-container{
  padding: 10vh 0;
  width: 80vw;
  margin: 0 auto;
}
.product-container h2, 
.product-container h3{
  margin: 20px 0 0 0 ;
}
.product-card{
  display: flex;
  flex-direction: row;
}
.product-card img{
  height: 70vh;
  padding: 10px 20px;
}
.product-info{
  padding: 0 10vw;
}
.product-info h2{
  font-size: 4vh;
}
.product-info p{
  font-size: 2vh;
  font-weight: lighter;
}
.product-info .price{
  font-size: 3vh;
  font-weight: bolder;
}
.primary-button button{
  cursor: pointer;
  padding: 15px;
  border: none;
  width: 10vw;
  color: white;
  font-size: 2vh;
  background-color: black;
}
.primary-button button:hover{
  color: black;
  background-color: #61dafb;
}
/* size-list */
.size-list{
  margin: 20px 0;
  display: inline-block;
	overflow: hidden;
}
.size-list>div{
  display: inline-block;
	float: left;  
}
.size-list input[type=radio] {
	display: none;
}
.size-list>div label {
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	border: 1px solid gray;
	border-right: none;
	user-select: none;
}
.size-list>div:last-child label {
	border-right: 1px solid gray;
}
.size-list>div input[type=radio]:checked + label {
	background: #61dafb;
}

.size-list>div input[type=radio]:disabled + label {
	background: white;
}
/* Footer.js */
.footer{
  padding: 20px 10vw;
  background-color: #333333;
}
.footer>div{
  padding: 10px;
  color: white;
  font-weight: lighter;
}
.footer a{
  color: white;
  margin: 10px 0;
  display: block;
}
.footer a:hover{
  color: #61dafb;
}

/* LoginPagejs */
.container{
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 10vh 0;
}
.container form{
  display: flex;
  flex-direction: column;
}
.container form input{
  font-size: 3vh;
}
.container form > input{
  margin: 10px 0;
  border: 1px solid black;
  width: 30vw;
  height: 4vh;
}
.container .left-block>div{
  margin-right: 9.7vw;
}
.container form button{
  margin: 10px 0;
}
span.error{
  color: red;
}