/* Styles for Size list on product page */
.size-list{
  margin: 10px 0;
  display: inline-block;
	overflow: hidden;
}
.size-list>div{
  display: inline-block;
}
.size-list input[type=radio] {
	display: none;
}
.size-list>div label {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	border: 1px solid gray;
	border-right: none;
	user-select: none;
  width: 2vw;
  text-align: center;
}
.size-list>div:last-child label {
	border-right: 1px solid gray;
}
.size-list>div input[type=radio]:checked + label {
	background: #61dafb;
}

.size-list>div input[type=radio]:disabled + label {
	background: white;
}
